.block {
  height: 80px;
  width: 160px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 8px;
  position: relative;
  &:hover {
    cursor: copy;
  }

  h1 {
    font-weight: bold;
    font-weight: 50px;
  }
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 5%);
    padding: 6px 10px;
    width: 88%;
    font-weight: normal;
    font-size: 11px;
  }
}

h4 {
  font-weight: bold !important;
}

small {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 10px;
}
