@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

$acth-app-typography-base: mat.define-legacy-typography-config(
  $font-family: "Quicksand, sans-serif",
  $display-4:
    mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:
    mat.define-typography-level(56px, 56px, 600, $letter-spacing: -0.02em),
  $display-2:
    mat.define-typography-level(45px, 48px, 600, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 600),
  $headline: mat.define-typography-level(24px, 32px, 600),
  $title: mat.define-typography-level(16px, 22px, 700, $letter-spacing: -0.03em),
  $subheading-2: mat.define-typography-level(16px, 28px, 600),
  $subheading-1: mat.define-typography-level(15px, 24px, 600),
  $body-2: mat.define-typography-level(14px, 24px, 600),
  $body-1: mat.define-typography-level(14px, 20px, 600),
  $caption: mat.define-typography-level(12px, 20px, 600),
  $button: mat.define-typography-level(14px, 14px, 600),
  $input: mat.define-typography-level(inherit, 1.125, 600),
);

@include mat.all-legacy-component-typographies($acth-app-typography-base);
